.card {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: auto;
    padding: 12px;
    position: relative;
    display: block;
    background-color: var(--background);
    border-radius: 12px;
    border: 1px solid var(--border);
    box-shadow: inset 0px -4px 6px var(--shadow);
}

.text {
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    color: var(--blured-text);
}

.button {
    padding: 8px;
    background-color: var(--primary);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.picker input {
    border: 2px solid var(--primary);
    height: 26px;
    border-radius: 6px;
}