.button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background-color: var(--primary-hover);
}