.button input::file-selector-button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--border);
    color: var(--text);
    cursor: pointer;
}

.button a {
    width: 140px;
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--border);
    color: var(--text);
    text-align: center;
    cursor: pointer;
}

.text {
    width: auto;
    max-width: 320px;
    margin: 20px auto;
    padding: 12px;
    background-color: var(--menu);
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}