.card {
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 200px;
    margin: auto;
    position: relative;
    display: block;
    background-color: var(--foreground);
    border-radius: 12px;
    box-shadow: inset 0px -2px 4px var(--shadow);
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.4s;
}

.card:hover {
    background-color: var(--foreground-hover);
}

.img {
    width: 100%;
    height: auto;
    min-height: 120px;
    margin: auto;
    position: relative;
    display: block;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 12px;
    position: relative;
    display: block;
}